@font-face {
    font-family: "Majesty";
    src: url("fonts/majesty-black.otf") format("opentype");
}

@font-face {
    font-family: "Satosh";
    src: url("fonts/Satoshi-Variable.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Satosh";
    src: url("fonts/Satoshi-Bold.otf") format("opentype");
    font-weight: 900;
}

body{
    background-color: rgb(12, 12, 12);
    color: white;
}

.barranav{
    position: fixed;
    margin-top: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    background-color: transparent;
    box-shadow: none;

    display: flex;
    align-items: center;

    padding: 5px 5px;
    box-sizing: border-box;

    z-index: 1000;

    transition: margin 0.3s ease;
}
.barranav::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.30);
    z-index: -1;

    transform: translateY(-120%);
    transition: transform 0.3s ease;
}

body.rolou .barranav::before {
    transform: translateY(0);
}

body.rolou .barranav, body.menu-aberto .barranav{
    margin-top: 0;
    transition: margin 0.3s ease;
}

.logo img{
    height: 70px;
    width: auto;
    
    margin-left: clamp(40px, calc(40vw - 520px), 250px);
}

nav{
    position: absolute;
    display: flex;
    gap: 30px;

    left: 50%;
    transform: translate(-50%);
    
        font-family: "Satosh", sans-serif;
        font-weight: 900;
}

nav a{
    text-decoration: none;
    white-space: nowrap;
    color: white;
    font-size: 15px;
}

.botao-menu{
    margin-left: auto;
    margin-right: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.linha-menu{
    display: block;
    margin-bottom: 3px;
    width: 18px;
    height: 3px;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo-menu-aberto{
    display: none;
}

.botao-menu{
    display: none;
}

@media (max-width: 900px) {
    .botao-menu{
        display: block;
    }

    body.redimensionando nav {
    transition: none !important;
}

    nav{
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        padding-top: 150px;
        padding-left: 40px;
        gap: 40px;
        background-color: black;
        opacity: .90;

        transform: translatex(100%);
    }

    .pronto nav {
        transition: transform 0.3s ease;
    }

    nav a{
        font-size: 20px;
    }

    nav.menu-aberto{
        transform: translateX(0);
    }

    .risco{
        border: 1px solid rgb(73, 73, 73);
        margin-right: 90px;
    }

    .logo-menu-aberto{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin-top:3px ;
        margin-left: 40px;

        height: 70px;
        width: auto;
    }

    .botao-menu.menu-aberto .linha-menu:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .botao-menu.menu-aberto .linha-menu:nth-child(2) {
        opacity: 0;
    }

    .botao-menu.menu-aberto .linha-menu:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
    
}

.banner{
    position: relative;
    background-image: url(/media/Imagem-Banner.jpeg);
    background-size: cover;
    background-position: center;
    height: 650px;

    padding-top: 400px;
    padding-left: clamp(40px, calc(40vw - 520px), 250px);
}

.banner::before {
    content: "";
    position: absolute;
    top: 800px;
    left: 0;
    width: 100%;
    height: 24%;
    background: linear-gradient(to top, rgba(12 , 12, 12 ,1), rgba(0, 0, 0 ,0));
}

.lista-trabalho-banner{
    display: flex;
    gap: 10px;
    font-size: 30px;

    font-family: "Satosh", sans-serif;
    font-weight: 900;
}

.principal-banner{
    margin-top: 0;
    font-size: 150px;

    font-family: "Majesty", sans-serif;
}

.texto-banner{
    display: flex;
    margin-top: -100px;
    font-size: 20px;

    font-family: "Satosh", sans-serif;
    font-weight: 300;
}

.sobre{
    display: flex;
    padding-left: clamp(40px, calc(40vw - 520px), 250px);
    margin-top: 100px;
}

.foto-sobre{
    height: 400px;
    width: auto;

    border-radius: 50%;
}

.titulo-sobre{
    font-size: 40px;
    margin-left: 150px;

    font-family: "Satosh", sans-serif;
    font-weight: 900;
}

.texto-sobre{
    font-size: 20px;
    margin-left: 100px;

    font-family: "Satosh", sans-serif;
    font-weight: 300;
}

.carrossel{
    display: flex;
    margin-top: 200px;
}

.imagens-carrossel::before,
.imagens-carrossel::after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 150px;
    z-index: 5;
    pointer-events: none;
}

.imagens-carrossel::before{
    left: 0;
    background: linear-gradient(to right, rgb(12, 12, 12), transparent);
}

.imagens-carrossel::after{
    right: 0;
    background: linear-gradient(to left, rgb(12, 12, 12), transparent);
}

.imagens-carrossel{
    position: relative;
    overflow: hidden;

    width: 1762.5px;
    margin-left: auto;
    margin-right: auto;
}

.trilha-carrossel{
    display: flex;
    height: 650px;
    width: auto;
    gap: 20px;
    
    transform: translatex(130px);
}

.seta-esquerda{
    transform: translatex(100px);
    z-index: 10;

    cursor: pointer;
    border: none;
    background-color: transparent;
}

.seta-direita{
    transform: translatex(-100px);
    z-index: 10;

    cursor: pointer;
    border: none;
    background-color: transparent;
}

.seta-direita svg {
    transform: scaleX(-1);
}